{% extends "base.html" %}
{% block content %}
<div class="module darken form-box">
  <div class="l-box">
                <h1>My Gallery</h1>     
                </div>   
            </div>
 {% if not empty %}
             <!-- <div class="l-box">
                <form action="{{url_for('images_view')}}" method="post" class="pure-form" novalidate>
                    {{ form.hidden_tag() }}
                    {{ form.search_term(size=32) }}
                        {% for error in form.search_term.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.submit(class="pure-button", style="padding-top:1.4%") }}
                </form> -->
            
        {% else %}
        <h3 style="color: grey; text-align: center;">No images have been uploaded by you</h3>
         <h3 style="color: grey; text-align: center;">Click Here to Upload New Images</h3>
                <div class="middle2">
                 <form action="{{url_for('new_image')}}" method="get" class="pure-form">
                    <input class="pure-button pure-input-1-4 pure-button-primary"style="color:white; text-align: center;" type="submit" value="Upload" />
                 </form>
                </div>
        {% endif %}

        <div class="pure-g">

        {% if images %}
        
           {% for image in images %}
            <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                <a href="{{url_for('display',id= image.path) }}" title='score_matches={{ image.score_matches }}'><img src='{{ s3_loc+ image.path }}'></a>
            </div>
            {% endfor %}
        
        {% endif %}
    </div>


{% endblock %}
